#detail-popup-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.fixed-detail {
  height: 460px;
}

#custom-img-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.note {
  color: #314975;
}

.fa-arrow {
  margin-bottom: 4px;
  margin-left: 20px;
}

.fa-arrow-left {
  margin-bottom: 4px;
  margin-right: 20px;
}

.custom-icon {
  width: 20px;
  margin-right: 10px;
  margin-bottom: 4px;
}

.choice-section {
  gap: 5px;
}

.choice-clr {
  width: 10px;
  height: 10px;
  border: 2px solid #232323;
  border-radius: 50%;
  cursor: pointer;
}

.choice-done{
  background-color: #e14842 !important;
}

.radio-box {
  display: flex;
}

.radio-box > input {
  margin-right: 10px;
  margin-top: 2px;
}

#custom-choice {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 270px;
  overflow-y: auto;
}

#note-section,
#custom-choice {
  margin: 14px 0px;
  width: 380px;
  padding: 0px 20px;
}

#custom-choice::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.2);
}

#custom-choice::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
}

#custom-choice::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  padding-bottom: 30px;
}

.black-box {
  background-color: #ffffff !important;
  color: #232323 !important;
  width: 100%;
}

.gray-box {
  background-color: #8e8e8e !important;
  color: #bdbdbf !important;
  width: 100%;
}

.done-box {
  width: 100%;
  text-align: center !important;
}

#continue-box-section {
  gap: 10px;
  padding: 0px 10px;
  border-top: 3px solid #232322;
}

.continue-box {
  justify-content: center !important;
}

.custom-padding {
  margin: 13px 0px 13px 0px;
}

.custom-img {
  width: 350px;
  -webkit-transition: background-color 150ms linear, color 150ms linear;
}

.description{
  color: #8e8e8e;
}

.custom-abs {
  position: absolute;
}

#custom-img-section {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border-right: 3px solid #232322;
  width: 460px;
  height: 460px;
  position: relative;
}

@media screen and (max-width: 1100px) {
  #custom-img-section {
    width: 100%;
    height: 260px;
    border-bottom: 3px solid #232322;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 0px;
  }

  .custom-width {
    width: 370px !important;
  }

  .custom-img {
    width: 230px;
  }

  #note-section,
  #custom-choice {
    width: calc(100% - 60px);
  }

  #detail-popup-info {
    width: 100%;
  }

  #custom-choice {
    max-height: 200px;
  }

  .custom-comment {
    width: 100%;
  }
}

@media screen and (max-width: 495px) {
  #custom-choice::-webkit-scrollbar {
    width: 3px;
  }

  #custom-img-section {
    height: 220px;
  }

  .custom-img {
    width: 200px;
  }

  #continue-box-section {
    gap: 7px;
    padding: 0px 7px;
  }
}

@media screen and (max-width: 376px) {
  #custom-img-section {
    height: 200px;
  }

  .custom-img {
    width: 180px;
  }
}

@media screen and (max-width: 300px) {
  #custom-img-section {
    height: 180px;
  }

  .custom-img {
    width: 165px;
  }
}
