#checkout-box {
  margin-top: 30px;
}

.check-out-btn {
  background: #e14842 0% 0% no-repeat padding-box;
  border: 3px solid #232322;
  border-radius: 10px;
  padding: 1px 20px;
  color: #ffffff;
  cursor: pointer;
}

.hr-black {
  margin: 20px 0px 20px 0px;
  border: 1px solid #232322;
}

#checkout-btn-section {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#bill-box {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 70px;
}

#bill-box > div:nth-child(1) {
  max-height: 500px !important;
}

.qr-code {
  width: 220px !important;
}

.history-menu:last-child {
  margin-bottom: 0px;
}

#bill-qr-section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#bill-logo {
  width: 270px;
}

.bill-table {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.red-bill {
  color: #e14842;
}

#bill-qr {
  border: 3px solid #232322;
  border-radius: 10px;
  padding: 20px 20px 10px 20px;
}

#bill-qr > div > h1,
#bill-qr > div > p {
  text-align: center;
}

#bill-qr > div > p {
  margin: 20px 0px 10px 0px;
}

#bill-menu-list {
  height: 450px;
  overflow-y: auto;
}

#bill-menu-list::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  padding-bottom: 30px;
}

#bill-menu-list::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.2);
}

#bill-menu-list::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1100px) {
  .history-price-menu {
    padding: 0px 20px;
  }

  br{
    display: none;
  }

  #checkout-box{
    margin-bottom: 120px;
  }

  #checkout-btn-section {
    position: fixed;
    left: 0;
    bottom: 0;
    width: calc(100% - 40px);
    background-color: #ffffff;
    box-shadow: 0px -10px 10px #86868629;
    border: none;
    border-radius: 0px;
    padding: 10px 20px;
  }
}

@media screen and (max-width: 767px) {
  #bill-box {
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
    gap: 30px;
  }

  #bill-menu-list {
    max-height: 100%;
    height: 100%;
    overflow-y: auto;
  }

  #bill-qr > div > p {
    margin: 10px 0px 5px 0px;
  }
}

@media screen and (max-width: 495px) {
  #bill-menu-list::-webkit-scrollbar {
    width: 3px;
  }
}

@media screen and (max-width: 414px) {
  #bill-logo {
    width: 220px;
  }

  .qr-code {
    width: 180px !important;
  }
}
