#landing {
  min-width: 100vw;
  min-height: 100vh;
}

#landing-container {
  gap: 60px;
}

.table-text {
  margin-bottom: 10px;
}

.table-p {
  margin-bottom: 25px;
}

#ramen-pics {
  width: 349px;
}

.lg-box {
  margin-top: 15px;
  width: calc(100% - 35px);
}

.mb-br{
  display: none;
}

@media screen and (max-width: 1100px) {
  #landing {
    width: 100%;
    height: inherit;
    margin-top: 100px;
  }
}

@media screen and (max-width: 767px) {
  #landing-container {
    display: block;
  }

  .red-btn{
    width: 100%;
  }
  
  .mb-br{
    display: block;
  }

  .table-text{
    margin-top: 30px;
  }

  #table-title-box{
    display: block;
  }

  #b-table{
    font-size: 1.25em;
    line-height: 90px;
  }

  #table-number{
    font-size: 3.5em;
    line-height: 187px;
  }

  .lg-box{
    width: 100%;
  }

  #ramen-pics {
    width: 219px;
  }

  #landing-container > div:first-child{
    display: flex;
    justify-content: center;
  }
}
