#menu {
  /* margin: 50px 0px 100px 0px; */
  /* min-height: 100vh; */
  /* overflow: hidden; */
}

#menu-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

#table-box {
  border: 3px solid #232322;
  border-radius: 10px;
  padding: 10px 10px;
}

#table-box > h1 {
  text-align: center;
}

#menu-choice-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  max-width: 580px;
  overflow-x: auto;
}

#basket-section {
  margin-top: 60px;
}

#menu-choice-container > h1:not(:last-child) {
  margin-right: 40px;
}

#menu-choice-container > h1,
.fa {
  cursor: pointer;
  white-space: nowrap;
}

.inactive {
  color: #bdbdbf !important;
}

#menu-main-container {
  display: grid;
  grid-template-columns: 6fr 4fr;
  grid-gap: 25px;
  grid-auto-rows: auto;
}

#menu-choice-grid {
  display: grid;
  grid-template-columns: 6fr 4fr;
  grid-gap: 25px;
  grid-auto-rows: auto;
}

#basket-container {
  border: 3px solid #232322;
  border-bottom: none;
  border-radius: 10px;
  padding: 25px;
  height: fit-content;
  padding-bottom: 50px;
}

.hr-black {
  width: 100%;
  border-top: 1px solid #232322;
  border-bottom: none;
  margin-top: 0px;
}

.price-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-box > .bracket {
  font-weight: 800;
  margin-top: 8px;
}

#total-box {
  border: 3px solid #232322;
  border-radius: 10px;
  padding: 25px;
  height: fit-content;
  margin-top: -20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

#order-box,
#basket-mb-box {
  border: 3px solid #232322;
  border-radius: 10px;
  padding: 3px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #e14842;
  cursor: pointer;
}

#basket-mb-box {
  display: none;
}

#order-box > h1,
#basket-mb-box > h1 {
  color: #ffffff;
}

#order-box > h1:first-child,
#basket-mb-box > h1:first-child {
  margin-right: 20px;
}

/* Menu */
.menu-pics {
  width: 170px;
  height: 170px;
  object-fit: cover;
  border: 3px solid #232322;
  border-radius: 10px;
  cursor: pointer;
}

.custom-gray{
  color: #8e8e8e !important;
}

.custom-remove{
  justify-content: flex-end;
}

.custom-ramen-pics{
  object-fit: contain !important;
}

#menu-list-container {
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  height: fit-content;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 30px;

  max-height: 500px;
  overflow-y: auto;

  min-height: inherit;
}

.menu-name-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5px;
}

.vl {
  width: 4px;
  height: 40px;
  border-radius: 10px;
  background-color: #e14842;
  margin-right: 7px;
}

.menu-name {
  font-weight: 800 !important;
  white-space: nowrap;
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-price {
  color: #314975 !important;
}

.basket-item,
.basket-name {
  display: flex;
}

.basket-item {
  justify-content: space-between;
  align-items: flex-start;
}

.basket-edit > h1:nth-child(2) {
  margin: 0px 5px;
  color: #232322;
}

#basket-container > .md-text {
  margin-bottom: 10px;
}

.basket-item:not(:last-child) {
  margin-bottom: 25px;
}

.basket-name {
  align-items: flex-start;
  /* align-items: center; */
}

.basket-no {
  font-weight: 400;
  color: #e14842;
  margin-right: 10px;
  /* line-height: 33px; */
}

.menu-no {
  color: #e14842;
}

.basket-price {
  font-weight: 800;
  text-align: right;
}

.bracket-edit {
  color: #e14842;
  font-weight: 800;
  text-align: end;
  cursor: pointer;
}

.basket-header {
  display: none;
}

/* Scroll Box */
#basket-item-box {
  height: 210px;
  overflow-y: auto;
  box-shadow: inset 0 -7px 9px -7px rgba(0, 0, 0, 0.2);
  padding-right: 10px;
}

#basket-item-box::-webkit-scrollbar,
#menu-list-container::-webkit-scrollbar {
  height: 5px;
  width: 3px;
  padding-bottom: 30px;
}

#basket-item-box::-webkit-scrollbar-track,
#menu-list-container::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.2);
}

#basket-item-box::-webkit-scrollbar-thumb,
#menu-list-container::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  /* box-shadow: 0 0 1px rgba(255, 255, 255, 1); */
}

#menu-choice-container::-webkit-scrollbar {
  height: 2px;
  width: 5px;
  padding-bottom: 30px;
}

#menu-choice-container::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.2);
}

#menu-choice-container::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  /* box-shadow: 0 0 1px rgba(255, 255, 255, 1); */
}


@media screen and (max-width: 1650px) {
  .basket-no {
    line-height: 33px;
  }
}

@media screen and (max-width: 1100px) {
  #menu-main-container {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }

  #basket-container {
    border: 3px solid #232322;
  }

  #total-box {
    position: fixed;
    left: 0;
    bottom: 0;
    width: calc(100% - 50px);
    box-shadow: 0px -10px 10px #86868629;
    border: none;
    border-radius: 0px;
  }

  #basket-item-box {
    height: 100%;
    padding-bottom: 20px;
    padding-right: 0px;
  }

  .basket-header {
    display: inherit;
  }

  .menu-pics {
    width: 220px;
    height: 220px;
  }

  .mb-basket {
    display: none;
  }

  #basket-section {
    margin-top: 0px;
  }

  #menu-list-container {
    margin-bottom: 20px;
    max-height: 100%;
    padding-bottom: 100px;
  }

  #order-box {
    display: none;
  }
  #basket-mb-box {
    display: inherit;
    width: fit-content;
    padding: 3px 50px;
  }

  #menu-choice-container {
    width: 100%;
    max-width: 100%;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 1045px) {
  .menu-pics {
    width: 190px;
    height: 190px;
  }
}

@media screen and (max-width: 920px) {
  .menu-pics {
    width: 240px;
    height: 240px;
  }
}

@media screen and (max-width: 850px) {
  .menu-pics {
    width: 220px;
    height: 220px;
  }
}

@media screen and (max-width: 785px) {
  .menu-pics {
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 725px) {
  .menu-pics {
    width: 180px;
    height: 180px;
  }

  #basket-mb-box {
    display: inherit;
    padding: 3px 30px;
  }

  .menu-name {
    width: 130px;
  }
}

@media screen and (max-width: 665px) {
  .menu-pics {
    width: 160px;
    height: 160px;
  }
}

@media screen and (max-width: 620px) {
  .menu-pics {
    width: 150px;
    height: 150px;
  }

  #menu-choice-container {
    max-width: 515px;
  }
}

@media screen and (max-width: 570px) {
  .menu-pics {
    width: 130px;
    height: 130px;
  }

  #menu-list-container {
    gap: 20px;
  }

  .menu-name {
    width: 110px;
  }

  #menu-choice-container {
    max-width: 445px;
  }

  #total-box {
    padding: 15px;
  }

  #total-box {
    width: calc(100% - 30px);
  }
}

@media screen and (max-width: 495px) {
  .menu-pics {
    width: 120px;
    height: 120px;
  }

  #basket-container {
    padding: 25px 0px;
    border: none;
  }

  #menu-list-container {
    gap: 15px;
  }

  .menu-name {
    width: 90px;
  }

  #menu-choice-container {
    max-width: 403px;
  }

  #basket-item-box::-webkit-scrollbar,
  #menu-list-container::-webkit-scrollbar {
    height: 5px;
    width: 3px;
  }
}

@media screen and (max-width: 450px) {
  .menu-pics {
    width: 170px;
    height: 170px;
  }
}

@media screen and (max-width: 435px) {
  .menu-pics {
    width: 160px;
    height: 160px;
  }

  #menu-choice-container {
    max-width: 352px;
  }
}

@media screen and (max-width: 410px) {
  .menu-pics {
    width: 155px;
    height: 155px;
  }

  #menu-choice-container {
    max-width: 335px;
  }
}

@media screen and (max-width: 376px) {
  #basket-mb-box {
    display: flex;
    padding: 0px 10px;
    width: fit-content;
    gap: 10px;
  }

  .menu-pics {
    width: 145px;
    height: 145px;
  }

  #menu-choice-container {
    max-width: 305px;
  }

  #order-box > h1:first-child,
  #basket-mb-box > h1:first-child {
    margin-right: 0px;
  }

  #menu-choice-container > h1:not(:last-child) {
    margin-right: 25px;
  }

  /* #total-box > div:first-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
  } */

  #total-box > div:first-child > h1 {
    width: 100%;
    white-space: nowrap;
  }

  #total-box {
    width: calc(100% - 20px);
  }

  #total-box {
    gap: 15px;
    padding: 8px;
  }
}

@media screen and (max-width: 365px) {
  .menu-pics {
    width: 140px;
    height: 140px;
  }

  #menu-list-container {
    gap: 10px;
  }

  #menu-choice-container {
    max-width: 290px;
  }
}

@media screen and (max-width: 346px) {
  .menu-pics {
    width: 130px;
    height: 130px;
  }

  #menu-choice-container {
    max-width: 270px;
  }
}

@media screen and (max-width: 330px) {
  .menu-pics {
    width: 120px;
    height: 120px;
  }

  #menu-choice-container {
    max-width: 260px;
  }

  #basket-container {
    padding: 10px;
  }

  .basket-item {
    gap: 15px;
  }
}

@media screen and (max-width: 300px) {
  .menu-pics {
    width: 100px;
    height: 100px;
  }

  #menu-list-container {
    gap: 10px;
  }

  #menu-choice-container {
    max-width: 223px;
  }
}
