#menu {
  /* margin: 50px 0px 100px 0px; */
  /* min-height: 100vh; */
  /* overflow: hidden; */
}

#menu-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

#table-box {
  border: 3px solid #232322;
  border-radius: 10px;
  padding: 10px 10px;
}

#table-box > h1 {
  text-align: center;
}

#menu-choice-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  max-width: 580px;
  overflow-x: auto;
}

#basket-section {
  margin-top: 60px;
}

#menu-choice-container > h1:not(:last-child) {
  margin-right: 40px;
}

#menu-choice-container > h1,
.fa {
  cursor: pointer;
  white-space: nowrap;
}

.inactive {
  color: #bdbdbf !important;
}

#menu-main-container {
  display: grid;
  grid-template-columns: 6fr 4fr;
  grid-gap: 25px;
  grid-auto-rows: auto;
}

#menu-choice-grid {
  display: grid;
  grid-template-columns: 6fr 4fr;
  grid-gap: 25px;
  grid-auto-rows: auto;
}

#basket-container {
  border: 3px solid #232322;
  border-bottom: none;
  border-radius: 10px;
  padding: 25px;
  height: fit-content;
  padding-bottom: 50px;
}

.hr-black {
  width: 100%;
  border-top: 1px solid #232322;
  border-bottom: none;
  margin-top: 0px;
}

.price-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-box > .bracket {
  font-weight: 800;
  margin-top: 8px;
}

#total-box {
  border: 3px solid #232322;
  border-radius: 10px;
  padding: 25px;
  height: fit-content;
  margin-top: -20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

#order-box {
  border: 3px solid #232322;
  border-radius: 10px;
  padding: 3px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #e14842;
  cursor: pointer;
}

#order-box > h1 {
  color: #ffffff;
}

#order-box > h1:first-child {
  margin-right: 20px;
}

/* Menu */
.menu-pics {
  width: 170px;
  height: 170px;
  object-fit: cover;
  border: 3px solid #232322;
  border-radius: 10px;
  cursor: pointer;
}

#menu-list-container {
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  height: fit-content;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 30px;

  height: 500px;
  overflow-y: auto;

  min-height: inherit;
}

.menu-name-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5px;
}

.vl {
  width: 4px;
  height: 40px;
  border-radius: 10px;
  background-color: #e14842;
  margin-right: 7px;
}

.menu-name {
  font-weight: 800 !important;
  white-space: nowrap;
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-price {
  color: #314975 !important;
}

.basket-item,
.basket-name {
  display: flex;
}

.basket-item {
  justify-content: space-between;
  align-items: flex-start;
}

.basket-edit > h1:nth-child(2) {
  margin: 0px 5px;
  color: #232322;
}

#basket-container > .md-text {
  margin-bottom: 10px;
}

.basket-item:not(:last-child) {
  margin-bottom: 25px;
}

.basket-name {
  align-items: flex-start;
  /* align-items: center; */
}

.basket-no {
  font-weight: 400;
  color: #e14842;
  margin-right: 10px;
  /* line-height: 33px; */
}

.menu-no {
  color: #e14842;
}

.basket-price {
  font-weight: 800;
  text-align: right;
}

.bracket-edit {
  color: #e14842;
  font-weight: 800;
  text-align: end;
  cursor: pointer;
}

/* Scroll Box */
#basket-item-box {
  height: 210px;
  overflow-y: auto;
  box-shadow: inset 0 -7px 9px -7px rgba(0, 0, 0, 0.2);
  padding-right: 10px;
}

#basket-item-box::-webkit-scrollbar,
#menu-list-container::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  padding-bottom: 30px;
}

#basket-item-box::-webkit-scrollbar-track,
#menu-list-container::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.2);
}

#basket-item-box::-webkit-scrollbar-thumb,
#menu-list-container::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  /* box-shadow: 0 0 1px rgba(255, 255, 255, 1); */
}

#menu-choice-container::-webkit-scrollbar {
  height: 2px;
  width: 5px;
  padding-bottom: 30px;
}

#menu-choice-container::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.2);
}

#menu-choice-container::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  /* box-shadow: 0 0 1px rgba(255, 255, 255, 1); */
}

@media screen and (max-width: 1650px) {
  .basket-no {
    line-height: 33px;
  }
  #menu {
    /* margin: 50px 0px 100px 0px; */
    /* min-height: auto; */
    /* overflow: a; */
  }
}
