#home {
  width: 100vw;
  height: 100vh;
}

#home-container {
  display: flex;
  justify-content: center;
  text-align: start;
  gap: 70px;
}

#table-box {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 3px solid #232322;
  border-radius: 10px;
  padding: 20px 25px;
}

#table-text-box {
  gap: 20px;
}

#order-status {
  margin-top: 40px;
}

.order-p {
  text-align: center;
  margin: 20px 0px;
}

#ramen-icon {
  width: 114px;
}

.menu-box {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 3px solid #232322;
  border-radius: 10px;
  /* padding: 83px 80px 20px 20px; */
  width: 178px;
  height: 180px;
  position: relative;
  cursor: pointer;
}

.menu-box > h1{
  position: absolute;
  bottom: 10px;
  left: 18px;
}

.menu-container {
  display: flex;
  justify-content: center;
  height: fit-content;
  gap: 60px;
}

#menu-section > .menu-container:nth-child(1) {
  margin-bottom: 80px;
}
