#landing {
  width: 100vw;
  height: 100vh;
}

#landing-container{
  gap: 60px;
}

.table-text {
  margin-bottom: 10px;
}

.table-p {
  margin-bottom: 40px;
  /* width: 320px; */
}

#ramen-pics {
  width: 349px;
}
